/*-- scss:defaults --*/

// colors from https://brand.arizona.edu/applying-the-brand/colors
$navbar-bg: #0C234B;  // "arizona blue"
$link-color: #8B0015; // "chili"
$code-bg: #F4EDE5;    // "warm grey"
$code-color: #EF4056; // "bloom"
$font-family-sans-serif: proxima-nova,sans-serif;

/*-- scss:rules --*/

